<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの新潟米は…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3] %>
  <% when ["1", "1", "1"] %>
    <h6>新之助</h6>
    <p>革新の品と質、新プレミアム米</p>
    <p>弾力のある食感を持ち、噛めば噛むほど甘みが出てくる</p>
    <p>冷めてもおいしさと甘みが持続</p>
   
  <% when ["1", "1", "2"] %>
    <h6>つきあかり</h6>
    <p>ツヤがあり、うま味にも優れる良食味品種</p>
    <p>大粒でどんな料理にも合う、オールマイティ米</p>

  <% when ["1", "1", "3"] %>
    <h6>みずほの輝き</h6>
    <p>炊飯米の外観がきれい！</p>
    <p>冷めてももっちり、あっさりとしたおいしさ</p>
    <p>朝ごはん、夏ごはん （冷や汁など）にぴったり</p>

  <% when ["1", "2", "1"] %>
    <h6>コシヒカリ</h6>
    <p>新潟米の代表格</p>
    <p>うま味と粘りが魅力</p>
    <p>一噛みでうま味はじける</p>

  <% when ["1", "2", "2"] %>
    <h6>みずほの輝き</h6>
    <p>炊飯米の外観がきれい！</p>
    <p>冷めてももっちり、あっさりとしたおいしさ</p>
    <p>朝ごはん、夏ごはん （冷や汁など）にぴったり</p>

  <% when ["1", "2", "3"] %>
    <h6>みずほの輝き</h6>
    <p>炊飯米の外観がきれい！</p>
    <p>冷めてももっちり、あっさりとしたおいしさ</p>
    <p>朝ごはん、夏ごはん （冷や汁など）にぴったり</p>

  <% when ["1", "3", "1"] %>
    <h6>コシヒカリ</h6>
    <p>新潟米の代表格</p>
    <p>うま味と粘りが魅力</p>
    <p>一噛みでうま味はじける</p>

  <% when ["1", "3", "2"] %>
    <h6>みずほの輝き</h6>
    <p>炊飯米の外観がきれい！</p>
    <p>冷めてももっちり、あっさりとしたおいしさ</p>
    <p>朝ごはん、夏ごはん （冷や汁など）にぴったり</p>

  <% when ["1", "3", "3"] %>
    <h6>こしいぶき</h6>
    <p>柔らか、さっぱり</p>
    <p>「コシヒカリ」に次ぐ主力品種</p>
    <p>料理を引き立てるお米！</p>

  <% when ["2", "1", "1"] %>
    <h6>新之助</h6>
    <p>革新の品と質、新プレミアム米</p>
    <p>弾力のある食感を持ち、噛めば噛むほど甘みが出てくる</p>
    <p>冷めてもおいしさと甘みが持続</p>

  <% when ["2", "1", "2"] %>
    <h6>つきあかり</h6>
    

  <% when ["2", "1", "3"] %>
    <h6>ゆきん子舞</h6>
    

  <% when ["2", "2", "1"] %>
    <h6>新之助</h6>
    <p>革新の品と質、新プレミアム米</p>
    <p>弾力のある食感を持ち、噛めば噛むほど甘みが出てくる</p>
    <p>冷めてもおいしさと甘みが持続</p>

  <% when ["2", "2", "2"] %>
    <h6>あきだわら</h6>
    <p>さっぱりと控えめなおいしさ！</p>
    <p>あっさりとした食感</p>
    <p>バランスが良く、どんなおかずにも合わせやすい</p>

  <% when ["2", "2", "3"] %>
    <h6>ゆきん子舞</h6>
    <p>あっさりとした味で、しっかりとした食感！</p>
    <p>粘りすぎず、適度な歯ごたえと、ほのかな甘み</p>
    <p>丼ものやカレーとも相性が良好</p>

  <% when ["2", "3", "1"] %>
    <h6>コシヒカリ</h6>
    

  <% when ["2", "3", "2"] %>
    <h6>あきだわら</h6>
    <p>さっぱりと控えめなおいしさ！</p>
    <p>あっさりとした食感</p>
    <p>バランスが良く、どんなおかずにも合わせやすい</p>

  <% when ["2", "3", "3"] %>
    <h6>あきだわら</h6>
    <p>さっぱりと控えめなおいしさ！</p>
    <p>あっさりとした食感</p>
    <p>バランスが良く、どんなおかずにも合わせやすい</p>

  <% when ["3", "1", "1"] %>
    <h6>つきあかり</h6>
    <p>ツヤがあり、うま味にも優れる良食味品種</p>
    <p>大粒でどんな料理にも合う、オールマイティ米</p>

  <% when ["3", "1", "2"] %>
    <h6>ゆきん子舞</h6>
    <p>あっさりとした味で、しっかりとした食感！</p>
    <p>粘りすぎず、適度な歯ごたえと、ほのかな甘み</p>
    <p>丼ものやカレーとも相性が良好</p>

  <% when ["3", "1", "3"] %>
    <h6>ゆきん子舞</h6>
    <p>あっさりとした味で、しっかりとした食感！</p>
    <p>粘りすぎず、適度な歯ごたえと、ほのかな甘み</p>
    <p>丼ものやカレーとも相性が良好</p>

  <% when ["3", "2", "1"] %>
    <h6>コシヒカリ</h6>
    


  <% when ["3", "2", "2"] %>
    <h6>つきあかり</h6>
    <p>ツヤがあり、うま味にも優れる良食味品種</p>
    <p>大粒でどんな料理にも合う、オールマイティ米</p>

  <% when ["3", "2", "3"] %>
    <h6>こしいぶき</h6>
    <p>柔らか、さっぱり</p>
    <p>「コシヒカリ」に次ぐ主力品種</p>
    <p>料理を引き立てるお米！</p>

  <% when ["3", "3", "1"] %>
    <h6>コシヒカリ</h6>
    <p>新潟米の代表格</p>
    <p>うま味と粘りが魅力</p>
    <p>一噛みでうま味はじける</p>

  <% when ["3", "3", "2"] %>
    <h6>こしいぶき</h6>
    <p>柔らか、さっぱり</p>
    <p>「コシヒカリ」に次ぐ主力品種</p>
    <p>料理を引き立てるお米！</p>

  <% when ["3", "3", "3"] %>
    <h6>こしいぶき</h6>
    <p>柔らか、さっぱり</p>
    <p>「コシヒカリ」に次ぐ主力品種</p>
    <p>料理を引き立てるお米！</p>

  <% end %>
</div>
