<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>top page</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.scss">
  </head>

<body>
  <header>
  <%= link_to "My rice", perfumes_path %>
  <%= link_to "Niigata rice variety", perfumes_hinsyuitirann_path %>
  <%= link_to "Knowledge", perfumes_takikata_path %>
  <%= link_to "Recipe share", tweets_path %>
  </header>
  
  <div class="first-block">
  </div>
  <div class="second-block">
  </div>
  <div class="third-block">
  </div>

  <footer>	
  <small>© 2025 sanuki wakana</small>
  </footer>
</body>