<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>top page</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.scss">
  </head>

<body>

  <div class="first-block">
  </div>

  
<div class="category-container">
  <div class="category-item">
    
    <h3>Niigata rice variety</h3>
    <p>品種一覧<br>新たな新潟米を発掘！</p>
  </div>

  <div class="category-item">
    
    <h3>My rice</h3>
    <p>新潟米診断<br>お気に入り新潟米を見つけよう</p>
  </div>

  <div class="category-item">
    
    <h3>Knowledge</h3>
    <p>豆知識<br>いつものご飯をもっとおいしく。</p>
  </div>

  <div class="category-item">
    
    <h3>Recipe share</h3>
    <p>レシピ共有<br>お米のアレンジ幅を広げよう</p>
  </div>
</div>


<div class="third-block">
</div>


</body>